*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
header{
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
}
/* Header Section Style */
.header-div{
    padding-top: 216px;
    padding-right: 230px;
    padding-left: 845px;
    text-align: right;
    width: 30%;
}
.header-title{
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}
.header-description{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 26px;
    color: #444343;
}
.primary-btn{
    background-color: #F15B22;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: 1px solid;
    border-radius: 5px;
}
/* Main section: failur section styles */
.section-failur{
    padding: 130px 322px 130px 206px;
}
.failur-division{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 87px;
}
.failur-text-info {
    padding-top: 120px;
    width: 50%;
}
.failur-info-heading{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}
.failur-info-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}
.failur-info-list{
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.failur-info-list li:before {
    content: '✓';
    color: #16D887;
    padding-right: 10px;
    font-weight: bold;
}
/* Plan section styles */
.section-plan{
    margin-bottom: 130px;
}
.section-plan-title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 55px;
}
.section-plan-info{
    display: flex;
    gap: 86px;
    justify-content: center;
    text-align: center;
}
.plan-img{
   margin-bottom: 24px;
}
.plan-title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-bottom: 16px;
}
.plan-description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}
/* Section positive styles */
.section-positive{
    margin: 130px 230px;
    width: 1065px;
    height: 300px;
    background-repeat: none;
    background-image: url("../images/watch.png"), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    background-blend-mode: overlay;
    border-radius: 8px;
    margin-bottom: 130px;
}
.positive-info{
    padding-top: 59px;
    padding-left: 64px;
}
.positive-title{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    width: 50%;
    margin-bottom: 24px;
}
.positive-btn{
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 5px;
    width: 160px;
    height: 64px;
}
/* Footer section left */
footer{
    background-color: #151414;
    color: #FFFFFF;
}
.section-footer-div{
    display: flex;
    justify-content: center;
    padding: 130px 230px;
}
.footer-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}
.footer-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
    width: 50%;
}
.footer-logo{
    text-decoration: none;
    padding-right: 180px;
}
.footer-logo img{
    margin-right: 18px;
}
/* Footer section right */
.sub-title{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}
.sub-email{
    color: #F3F3F3;
    background-color: #151414;
    font-weight: 400;
    font-size: 18px;

    width: 325px;
    height: 64px;

    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-bottom: 16px;
    
    padding-left: 21px;

}
.sub-btn{
    height: 64px;
    width: 170px;
    background-color: #FFFFFF;
    
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;

    border: 1px solid #FFFFFF;
    border-radius: 8px;
}
/* End of Main Assignment Part */
/* Extra Out of the box part styles */
.blog-info{
    width: 45%;
    text-align: center;
    padding: 0px 430px;
}
.blog-info-head{
    font-size: 50px;
    font-weight: 700px;
    margin-bottom: 16px;
}
.blog-info-description{
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 60px;
}
.blog-container{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0px 230px;
    gap: 80px;
}
.blog-img{
    width:300px;
    border-radius: 10px;
    margin-bottom: 24px;
}
.blog-title{
    font-size: 24px;
    font-weight: 700px;
    color: #363535;
    margin-bottom: 16px;
}
.blog-description{
    color: #4c4848;
    font-size: 18px;
    font-weight: 400px;
}